@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@400;500;600&display=swap");

html,
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.font {
  font-family: "Antonio", sans-serif !important;
}

.border-radius {
  border-radius: 100px !important;
}
